[Desktop Entry]
Encoding=UTF-8
Name=/usr/share/apps/kdebluetooth/dunhandler/dunhandler
Exec=dunhandler %u
Icon=network_local
Type=Application
Comment=An OBEX Object Push client for the KdeBluetooth Framework
Comment[et]=OBEX objekti saatmise klient KdeBluetooth raamistikule
MimeType=bluetooth/dun-profile;
Hidden=true
