[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KBluetoothDModule
Exec=kbtserialchat
X-KDE-FactoryName=kbtserialchat
X-KDE-KBLUETOOTHD-protocol=rfcomm
X-KDE-KBLUETOOTHD-id=kbtserialchat

X-KDE-KBLUETOOTHD-port=5
X-KDE-KBLUETOOTHD-sdpRecord=kbluetoothd_kbtserialchat.sdp.xml
X-KDE-KBLUETOOTHD-autoPortRange=100
X-KDE-KBLUETOOTHD-authentication=false
X-KDE-KBLUETOOTHD-encryption=false
X-KDE-KBLUETOOTHD-enabled=true
X-KDE-KBLUETOOTHD-argument=--rfcommconnection
X-KDE-KBLUETOOTHD-arg-addr=--peeraddr
X-KDE-KBLUETOOTHD-arg-name=--peername
DocPath=kdebluetooth/components.kbtserialchat.html

Name=SerialChat
Name[el]=Σειριακή συνομιλία
Name[it]=ChatSeriale
Name[lt]=Nuoseklūs pokalbiai
Name[pa]=ਸੀਰੀਅਲ ਚੈਟ
Name[pl]=Rozmowy przez port szeregowy
Name[sv]=Serialchat
Name[tg]=Суҳбати сериявӣ
Name[tr]=Seriport İletişimi
Name[xx]=xxSerialChatxx
Comment=Simple application to talk to a modem with AT-commands or actually chat with other people.
Comment[ar]=برنامج بسيط لمكالمة المرمز الهاتفي modem مستخدما اوامر AT او للثرثرة مع اشخاص آخرين.
Comment[bg]=Приложение за разговор с модем с AT-команди или разговор с други хора.
Comment[ca]=Simple aplicació per a comunicar amb un mòdem amb comandaments AT o realment conversar amb altres persones.
Comment[da]=Simpelt program der kommunikerer med et modem med AT-kommandoer eller chat med andre mennesker.
Comment[de]=Einfache Anwendung, um ein Modem mit AT-Befehlen anzusprechen oder mit anderen Leuten zu chatten.
Comment[el]=Μια απλή εφαρμογή για την συνομιλία με ένα μόντεμ με εντολές AT ή για πραγματική συνομιλία με άλλα άτομα.
Comment[es]=Sencilla aplicación para comunicar con un módem con órdenes AT o realmente conversar con otras personas.
Comment[et]=Lihtne rakendus vestlemiseks modemiga AT-käskude abil või ka tegelikult teiste inimestega jutuajamiseks.
Comment[fr]=Application simple pour parler à un modem avec les commandes AT ou pour chatter avec d'autres personnes.
Comment[gl]=Aplicazón simples para comunicar cun modem con comandos AT ou falar mesmo con outras persoas.
Comment[it]=Semplice applicazione per parlare a un modem con comandi AT o anche con altre persone.
Comment[ja]=AT コマンドでモデムと通信したり他の人と実際にチャットするためのシンプルなアプリケーション
Comment[lt]=Paprasta programa, skirta AT komandų siuntimui modemui ar pokalbiams su žmonėmis.
Comment[nl]=Eenvoudig programme om te praten met een modem door middel van AT-commando's of om te converseren met andere personen.
Comment[pl]=Prosty program do komunikacji z modemem za pomocą poleceń AT lub rozmów z innymi ludźmi
Comment[pt]=Aplicação simples para comunicar com um modem com comandos AT ou falar mesmo com outras pessoas.
Comment[pt_BR]=Aplicação simples para comunicar com um modem com comandos AT ou falar mesmo com outras pessoas.
Comment[sr]=Једноставан програм за комуникацију са модемом путем AT-команди или ћаскање са другим људима.
Comment[sr@Latn]=Jednostavan program za komunikaciju sa modemom putem AT-komandi ili ćaskanje sa drugim ljudima.
Comment[sv]=Enkelt program för att kommunicera med ett modem med AT-kommandon eller för riktig chatt med andra personer.
Comment[ta]=AT-கட்டளைகள் அல்லது மற்றவர்களின் மெய்யான அரட்டை உடைய மோடமிடம் பேச உதவும் ஒரு சிறு நிரல்.
Comment[tr]=Diğer kişilerle sohbet etmek veya bir modemle AT-komutlarıyla konuşmak için basit bir uygulama.
Comment[xx]=xxSimple application to talk to a modem with AT-commands or actually chat with other people.xx
