[Desktop Entry]
Encoding=UTF-8
Exec=kbtserialchat %u
Icon=kdebluetooth
Type=Application
MimeType=bluetooth/serial-port-profile
Name=kbtserialchat
Name[sv]=Kbtserialchat
Name[xx]=xxkbtserialchatxx
GenericName=Bluetooth Chat
GenericName[ar]=ثرثرة Bluetooth
GenericName[bg]=Разговор с Bluetooth
GenericName[br]=Flapañ gant Bluetooth
GenericName[ca]=Xat Bluetooth
GenericName[de]=Bluetooth-Chat
GenericName[el]=Συνομιλία Bluetooth
GenericName[es]=Conversación Bluetooth
GenericName[fr]=Chat Bluetooth
GenericName[ga]=Comhrá Bluetooth
GenericName[gl]=Conversa Bluetooth
GenericName[it]=Chat con Bluetooth
GenericName[ja]=Bluetooth チャット
GenericName[nl]=Bluetooth-chat
GenericName[pa]=ਬਲਿਊਟੁੱਥ ਚੈਟ
GenericName[pl]=Rozmowy przez Bluetooth
GenericName[pt]=Conversa Bluetooth
GenericName[pt_BR]=Conversa Bluetooth
GenericName[sr]=Bluetooth ћаскање
GenericName[sr@Latn]=Bluetooth ćaskanje
GenericName[sv]=Blåtandchatt
GenericName[tg]=Суҳбати Bluetooth
GenericName[tr]=Bluetooth Sohbeti
GenericName[xx]=xxBluetooth Chatxx
Categories=Qt;KDE;Network;InstantMessaging;
Comment=Small serial terminal application for Bluetooth
Comment[bg]=Програма за сериен терминал за Bluetooth
Comment[bs]=Mala aplikacija serijski terminal za Bluetooth
Comment[ca]=Petita aplicació de terminal sèrie per a Bluetooth
Comment[da]=Lille seriel terminalprogram for Bluetooth
Comment[de]=Eine kleines serielles Terminal für Bluetooth
Comment[el]=Μικρή σειριακή εφαρμογή τερματικού για Bluetooth
Comment[es]=Pequeña aplicación de terminal serie para Bluetooth
Comment[et]=Väike terminalirakendus Bluetoothile
Comment[fr]=Une petite application via un port série pour Bluetooth
Comment[gl]=Pequena aplicazón de terminal série para Bluetooth
Comment[it]=Piccola applicazione di terminale seriale per Bluetooth
Comment[ja]=Bluetooth のための小さなシリアル ターミナル アプリケーション
Comment[lt]=Maža Bluetooth skirta nuoseklaus ryšio programa
Comment[nl]=Kleine seriële terminal voor Bluetooth
Comment[pa]=ਬਲਿਊਟੁੱਥ ਲਈ ਛੋਟਾ ਸੀਰੀਅਲ ਟਰਮੀਨਲ ਕਾਰਜ
Comment[pl]=Mały program terminala szeregowego dla Bluetooth
Comment[pt]=Pequena aplicação de terminal séria para Bluetooth
Comment[pt_BR]=Pequena aplicação de terminal séria para Bluetooth
Comment[ru]=Небольшой последовательный терминал для Bluetooth
Comment[sr]=Мали програм серијског терминала за bluetooth
Comment[sr@Latn]=Mali program serijskog terminala za bluetooth
Comment[sv]=Litet serieterminalprogram för Blåtand
Comment[ta]=புலுடுத்துக்கான சிறிய முடிவு பயன்பாடு.
Comment[tr]=Bluetooth için küçük seri terminal uygulaması
Comment[xx]=xxSmall serial terminal application for Bluetoothxx
