[Desktop Action KdeBluetoothSendFile]
Exec=kbtobexclient %U
Icon=kdebluetooth
Name=Send with Bluetooth...
Name[ar]=ارسل بواسطة Bluetooth...
Name[bg]=Изпращане с Bluetooth...
Name[br]=Kas gant Bluetooth ...
Name[bs]=Pošalji koristeći Bluetooth...
Name[ca]=Envia amb Bluetooth...
Name[da]=Send med Bluetooth...
Name[de]=Über Bluetooth versenden ...
Name[el]=Αποστολή με Bluetooth...
Name[es]=Enviar por Bluetooth...
Name[et]=Saada Bluetoothiga...
Name[fr]=Envoyer avec Bluetooth...
Name[gl]=Enviar por Bluetooth...
Name[it]=Invia con Bluetooth...
Name[ja]=Bluetooth で送信...
Name[lt]=Siųsti per Bluetooth...
Name[nl]=Verzenden met Bluetooth...
Name[pa]=ਬਲਿਊਟੁੱਥ ਨਾਲ ਭੇਜੋ...
Name[pl]=Wyślij przez Bluetooth...
Name[pt]=Enviar por Bluetooth...
Name[pt_BR]=Enviar por Bluetooth...
Name[ru]=Передать через Bluetooth...
Name[sr]=Пошаљи bluetooth-ом...
Name[sr@Latn]=Pošalji bluetooth-om...
Name[sv]=Skicka med Blåtand...
Name[ta]=புலுடுத்துடன் அனுப்பு...
Name[tg]=Интиқол ба воситаи Bluetooth...
Name[tr]=Bluetooth ile gönder...
Name[xx]=xxSend with Bluetooth...xx

[Desktop Entry]
Actions=KdeBluetoothSendFile;
Encoding=UTF-8
Icon=
ServiceTypes=all/allfiles
ExcludeServiceTypes=kdedevice/*
