[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-it
Icon=sound
X-KDE-IsAlso=audio/x-mod
Patterns=*.it;*.IT;
Comment=Impulse Tracker Mod File

