[Desktop Entry]
Type=MimeType
Icon=audio
MimeType=audio/x-ms-asx
X-KDE-IsAlso=audio/x-ms-asf
Patterns=*.asx;*.ASX;
Comment=Windows Media Audio Redirector
