[Desktop Entry]
Encoding=UTF-8
Comment= Playlist files for Google Video Player
Comment[fr]= Liste de lecture pour lecteur video Google
Icon=video
Type=MimeType
MimeType=text/google-video-pointer
Patterns=*.gvp;*.GVP;

[Property::X-KDE-text]
Type=bool
Value=true

