[Desktop Entry]
Encoding=UTF-8
Comment= Playlist files for Google Video Player
Comment[fr]= Liste de lecture pour lecteur video Google
Icon=video
Type=MimeType
MimeType=text/x-google-video-pointer
X-KDE-IsAlso=text/google-video-pointer

[Property::X-KDE-text]
Type=bool
Value=true

