[Desktop Entry]
Encoding=UTF-8
Comment=Lotus 1-2-3 File
Comment[fr]=Fichier Lotus 1-2-3
MimeType=application/vnd.lotus-1-2-3
Type=MimeType
Patterns=*.123;*.wk3;*.WK3;*.wk4;*.WK4;*.wk1;*.WK1;
Icon=wordprocessing
