[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.text-web
Patterns=*.oth;*.OTH;
Icon=wordprocessing
Comment=OASIS OpenDocument Web Text
Comment[fr]=Document texte internet OASIS OpenDocument
[Property::X-KDE-NativeExtension]
Type=QString
Value=.oth
