[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-lzma
Icon=tgz
Patterns=*.lzma;*.LZMA;
Comment=LZMA Archive
Comment[pt_BR]=Arquivo ZIP

[Property::X-KDE-LocalProtocol]
Type=QString
Value=lzma
