[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/av-device-class
Icon=dvd_unmount
Comment=Audio/Video Bluetooth Device
Comment[ar]=جهاز صوتي/مرئي Bluetooth
Comment[bg]=Аудио/видео Bluetooth устройство
Comment[bs]=Audio/video Bluetooth uređaj
Comment[ca]=Dispositiu Bluetooth àudio/vídeo
Comment[da]=Audio/Video Bluetooth-enhed
Comment[de]=Audio/Video Bluetooth-Gerät
Comment[el]=Συσκευή ήχου/βίντεο Bluetooth
Comment[es]=Dispositivo Bluetooth audio/vídeo
Comment[et]=Audio/video Bluetoothi seade
Comment[fr]=Périphérique Audio/Vidéo Bluetooth
Comment[gl]=Dispositivo Bluetooth Áudio/Vídeo
Comment[it]=Dispositivo Bluetooth Audio/Video 
Comment[ja]=オーディオ/ビデオ Bluetooth デバイス
Comment[lt]=Audio/video Bluetooth įrenginys
Comment[nl]=Bluetooth Audio/Video-apparaat
Comment[pa]=ਆਡੀਓ/ਵੀਡਿਓ ਬਲਿਊਟੁੱਥ ਜੰਤਰ
Comment[pl]=Urządzenie Bluetooth Audio/Wideo
Comment[pt]=Dispositivo Bluetooth Áudio/Vídeo
Comment[pt_BR]=Dispositivo Bluetooth Áudio/Vídeo
Comment[sr]=Аудио-видео bluetooth уређај
Comment[sr@Latn]=Audio-video bluetooth uređaj
Comment[sv]=Blåtandsenhet med ljud eller video
Comment[ta]=அடியோ/விடியோ புலுடுத் கருவி
Comment[tg]=Дастгоҳи аудио/видео Bluetoot
Comment[tr]=Bluetooth Ses/Görüntü Aygıtı
Comment[xx]=xxAudio/Video Bluetooth Devicexx
