[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/computer-device-class
Icon=konsole
X-KDE-IsAlso=inode/directory
Comment=Computer/PDA Bluetooth Device
Comment[bg]=Компютърно/PDA Bluetooth устройство
Comment[bs]=Računar/PDA Bluetooth uređaj
Comment[ca]=Dispositiu Bluetooth ordinador/PDA
Comment[da]=Computer/PDA Bluetooth-enhed
Comment[de]=Computer/PDA Bluetooth-Gerät
Comment[el]=Συσκευή υπολογιστή/PDA Bluetooth
Comment[es]=Dispositivo Bluetooth computadora/PDA
Comment[et]=Arvuti/PDA Bluetoothi seade
Comment[fr]=Périphérique ordinateur ou PDA Bluetooth
Comment[gl]=Dispositivo Bluetooth Computador/PDA
Comment[it]=Dispositivo Bluetooth Computer/PDA
Comment[ja]=コンピュータ/PDA Bluetooth デバイス
Comment[lt]=Kompiuterio/PDA Bluetooth įrenginys
Comment[nl]=Bluetooth computer/PDA-apparaat
Comment[pa]=ਕੰਪਿਊਟਰ/PDA ਬਲਿਊਟੁੱਥ ਜੰਤਰ
Comment[pl]=Urządzenie Bluetooth komputer/PDA
Comment[pt]=Dispositivo Bluetooth Computador/PDA
Comment[pt_BR]=Dispositivo Bluetooth Computador/PDA
Comment[sr]=Рачунар/PDA bluetooth уређај
Comment[sr@Latn]=Računar/PDA bluetooth uređaj
Comment[sv]=Blåtandsenhet i dator eller handdator
Comment[ta]=கணிணி/PDA புலுடுத் கருவி
Comment[tg]=Дастгоҳи компютер/PDA Bluetooth
Comment[tr]=Bluetooth Bilgisayar/PDA Aygıtı
Comment[xx]=xxComputer/PDA Bluetooth Devicexx
