[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/dun-profile
Icon=network_local
Comment=Bluetooth Dial-Up Networking Profile
Comment[bg]=Профил за връзка с Bluetooth (Dial-Up)
Comment[bs]=Bluetooth dial-up networking profil
Comment[ca]=Perfil de xarxa telefònica Bluetooth
Comment[da]=Bluetooth opkalds-netværkprofil
Comment[de]=Bluetooth Netzwerkeinwahl-Profil
Comment[el]=Προφίλ δικτύου μέσω τηλεφωνικής κλήσης Bluetooth
Comment[es]=Perfil de red telefónica Bluetooth
Comment[et]=Bluetoothi sissehelistamisteenuse profiil
Comment[fr]=Profil Réseau Bluetooth
Comment[gl]=Perfil de Rede Dial-Up Bluetooth
Comment[it]=Profilo di rete telefonica Bluetooth
Comment[ja]=Bluetooth ダイアルアップ ネットワーク プロファイル (DUN)
Comment[lt]=Bluetooth Dial-Up ryšio profilis
Comment[nl]=Bluetooth inbelnetwerkprofiel
Comment[pa]=ਬਲਿਊਟੁੱਥ ਡਾਇਲਅੱਪ ਨੈਟਵਰਕ ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Profil sieci wdzwanianej Bluetooth
Comment[pt]=Perfil de Rede 'Dial-Up' Bluetooth
Comment[pt_BR]=Perfil de Rede 'Dial-Up' Bluetooth
Comment[sr]=Bluetooth профил повезивања преко телефона
Comment[sr@Latn]=Bluetooth profil povezivanja preko telefona
Comment[sv]=Blåtandsprofil för uppringt nätverk
Comment[ta]=புலுடுத் தொலைபேசி முலம் இனைகும் முறை
Comment[tr]=Bluetooth Çevirmeli Bağlantı Profili
Comment[xx]=xxBluetooth Dial-Up Networking Profilexx
