[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/fax-profile
Icon=printer2
Comment=Bluetooth Fax Profile
Comment[ar]=مواصفات فاكس Bluetooth
Comment[bg]=Профил за факс с Bluetooth
Comment[bs]=Bluetooth fax profil
Comment[ca]=Perfil de fax Bluetooth
Comment[da]=Bluetooth fax-profil
Comment[de]=Bluetooth Fax-Profil
Comment[el]=Προφίλ Bluetooth Fax
Comment[es]=Perfil de fax Bluetooth
Comment[et]=Bluetoothi faksiprofiil
Comment[fr]=Profil de Fax Bluetooth
Comment[gl]=Perfil de Fax Bluetooth
Comment[it]=Profilo Fax Bluetooth
Comment[ja]=Bluetooth ファクス プロファイル (FAX)
Comment[lt]=Bluetooth fakso profilis
Comment[nl]=Bluetooth faxprofiel
Comment[pa]=ਬਲਿਊਟੁੱਥ ਫੈਕਸ ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Profil Bluetooth faksowania
Comment[pt]=Perfil de Fax Bluetooth
Comment[pt_BR]=Perfil de Fax Bluetooth
Comment[sr]=Bluetooth профил за факс
Comment[sr@Latn]=Bluetooth profil za faks
Comment[sv]=Blåtandsprofil för telefax
Comment[ta]=புலுடுத் தொலை நகல் பக்கநோக்கு
Comment[tr]=Bluetooth Faks Profili
Comment[xx]=xxBluetooth Fax Profilexx
