[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/handsfree-profile
Icon=kaddressbook
Comment=Bluetooth Hands-Free Profile
Comment[bg]=Профил Hands-Free за Bluetooth
Comment[bs]=Bluetooth hands-free profil
Comment[ca]=Perfil de mans lliures Bluetooth
Comment[da]=Bluetooth Hands-Free-profil
Comment[de]=Bluetooth Hands-Free-Profil
Comment[el]=Προφίλ Bluetooth Hands-Free
Comment[es]=Perfil manos libres Bluetooth
Comment[et]=Bluetoothi handsfree profiil
Comment[fr]=Profil Hands-Free Bluetooth
Comment[gl]=Perfil de Maos-Libres Bluetooth
Comment[it]=Profilo viva voce Bluetooth
Comment[ja]=Bluetooth ハンズフリー プロファイル (HFP)
Comment[lt]=Bluetooth laisvų rankų profilis
Comment[nl]=Bluetooth Hands-Free-profiel
Comment[pl]=Profil Bluetooth zestawu słuchawkowego
Comment[pt]=Perfil Mãos-Livres Bluetooth
Comment[pt_BR]=Perfil Mãos-Livres Bluetooth
Comment[sr]=Bluetooth хендсфри профил
Comment[sr@Latn]=Bluetooth hendsfri profil
Comment[sv]=Blåtandsprofil för handsfree
Comment[ta]=புலுடுத் கைஇல்லா பக்கநோக்கு
Comment[tr]=Bluetooth Eller Serbest Profili
Comment[xx]=xxBluetooth Hands-Free Profilexx
