[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/headset-profile
Icon=kaddressbook
Comment=Bluetooth Headset Profile
Comment[bg]=Профил Headset за Bluetooth
Comment[bs]=Bluetooth headset profil
Comment[ca]=Perfil d'auriculars Bluetooth
Comment[da]=Bluetooth Headset-profil
Comment[de]=Bluetooth Headset-Profil
Comment[el]=Προφίλ Bluetooth ακουστικών
Comment[es]=Perfil de auriculares Bluetooth
Comment[et]=Bluetoothi peakomplekti profiil
Comment[fr]=Profil Headset Bluetooth
Comment[gl]=Perfil de Auricular Bluetooth
Comment[it]=Profilo cuffie Bluetooth
Comment[ja]=Bluetooth ヘッドセット プロファイル (HSP)
Comment[lt]=Bluetooth ausinių profilis
Comment[nl]=Bluetooth Headset-profiel
Comment[pa]=ਬਲਿਊਟੁੱਥ ਹੈਡਸੈਟ ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Profil Bluetooth zestawu słuchawek z mikrofonem
Comment[pt]=Perfil de Auricular Bluetooth
Comment[pt_BR]=Perfil de Auricular Bluetooth
Comment[sr]=Bluetooth профил за слушалице
Comment[sr@Latn]=Bluetooth profil za slušalice
Comment[sv]=Blåtandsprofil för headset
Comment[ta]=புலுடுத் தலைஅமைப்பு பக்கநோக்கு
Comment[tr]=Bluetooth Kulaklıklı Mikrofon Profili
Comment[xx]=xxBluetooth Headset Profilexx
