[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/imaging-device-class
Icon=camera_unmount
Comment=Imaging Bluetooth Device
Comment[bg]=Bluetooth устройство за снимка
Comment[bs]=Imaging Bluetooth uređaj
Comment[ca]=Dispositiu Bluetooth d'imatges
Comment[da]=Imaging Bluetooth-enhed
Comment[de]=Imaging Bluetooth-Gerät
Comment[el]=Συσκευή εικόνας Bluetooth
Comment[es]=Dispositivo Bluetooth de imágenes
Comment[et]=Bluetoothi pildiseade
Comment[fr]=Périphérique d'imagerie Bluetooth
Comment[gl]=Dispositivo Bluetooth con Imaxe
Comment[it]=Dispositivo fotografico Bluetooth
Comment[ja]=イメージング Bluetooth デバイス
Comment[lt]=Bluetooth paveikslėlių įrenginys
Comment[nl]=Bluetooth imaging-apparaat
Comment[pa]=ਚਿੱਤਰ ਬਲਿਊਟੁੱਥ ਜੰਤਰ
Comment[pl]=Urządzenie Bluetooth obrazowania
Comment[pt]=Dispositivo Bluetooth com Imagem
Comment[pt_BR]=Dispositivo Bluetooth com Imagem
Comment[sr]=Bluetooth уређај за прављење слика
Comment[sr@Latn]=Bluetooth uređaj za pravljenje slika
Comment[sv]=Blåtandsenhet med kamera
Comment[ta]=புலுடுத் நினைக்கும் கருவி
Comment[tr]=Bluetooth Görüntü Aygıtı
Comment[xx]=xxImaging Bluetooth Devicexx
