[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/lan-device-class
Icon=nfs_unmount
Comment=LAN/Networking Bluetooth Device
Comment[bg]=Мрежово/LAN Bluetooth устройство
Comment[ca]=Dispositiu Bluetooth de xarxa
Comment[da]=LAN/Netværk Bluetooth-enhed
Comment[de]=LAN/Netwerk Bluetooth-Gerät
Comment[el]=Δικτυακή συσκευή Bluetooth
Comment[es]=Dispositivo Bluetooth de redes
Comment[et]=Kohtvõrgu/interneti Bluetoothi seade
Comment[fr]=Périphérique LAN/Réseau Bluetooth
Comment[gl]=Dispositivo de Rede Bluetooth
Comment[it]=Dispositivo Bluetooth di LAN/Rete
Comment[ja]=LAN/ネットワーク Bluetooth デバイス
Comment[lt]=Bluetooth LAN/tinklo įrenginys
Comment[nl]=Bluetooth LAN-/netwerk-apparaat
Comment[pa]=LAN/ਨੈਟਵਰਕ ਬਲਿਊਟੁੱਥ ਜੰਤਰ
Comment[pl]=Urządzenie Bluetooth LAN/sieciowe
Comment[pt]=Dispositivo de Rede Bluetooth
Comment[pt_BR]=Dispositivo de Rede Bluetooth
Comment[sr]=LAN/мрежни bluetooth уређај
Comment[sr@Latn]=LAN/mrežni bluetooth uređaj
Comment[sv]=Blåtandsenhet för lokalt nätverk
Comment[ta]=LAN/புலுடுத் வலை இனைப்பு கருவி
Comment[tg]=Дастгоҳи шабака/LAN Bluetooth
Comment[tr]=LAN/Ağ Bluetooth Aygıtı
Comment[xx]=xxLAN/Networking Bluetooth Devicexx
