[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/misc-device-class
Icon=kdebluetooth
X-KDE-IsAlso=inode/directory
Comment=Miscellaneous Bluetooth Device
Comment[bg]=Разни Bluetooth устройства
Comment[ca]=Dispositiu Bluetooth divers
Comment[da]=Diverse Bluetooth-enheder
Comment[de]=Vielseitiges Bluetooth-Gerät
Comment[el]=Συσκευή Bluetooth άλλης κατηγορίας
Comment[es]=Dispositivo Bluetooth diverso
Comment[et]=Mitmesugused Bluetoothi seadmed
Comment[fr]=Périphérique Bluetooth divers
Comment[gl]=Dispositivo Bluetooth
Comment[it]=Dispositivo Bluetooth vario
Comment[ja]=その他の Bluetooth デバイス
Comment[lt]=Kitas Bluetooth įrenginys
Comment[nl]=Ander Bluetooth-apparaat
Comment[pa]=ਫੁਟਕਲ ਬਲਿਊਟੁੱਥ ਜੰਤਰ
Comment[pl]=Inne urządzenie Bluetooth
Comment[pt]=Dispositivo Bluetooth Variado
Comment[pt_BR]=Dispositivo Bluetooth Variado
Comment[sr]=Неодређени bluetooth уређај
Comment[sr@Latn]=Neodređeni bluetooth uređaj
Comment[sv]=Annan Blåtandsenhet
Comment[ta]=இதர புலுடுத் கருவி
Comment[tr]=Çeşitli Bluetooth Aygıtları
Comment[xx]=xxMiscellaneous Bluetooth Devicexx
