[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/mouse-device-class
Icon=mouse
Comment=Peripheral Bluetooth Device
Comment[bg]=Периферно Bluetooth устройство
Comment[ca]=Dispositiu Bluetooth perifèric
Comment[da]=Perifer Bluetooth-enhed
Comment[de]=Peripheriegerät für Bluetooth
Comment[el]=Περιφερειακή συσκευή Bluetooth
Comment[es]=Dispositivo Bluetooth periférico
Comment[et]=Väline Bluetoothi seade
Comment[fr]=Périphérique Bluetooth
Comment[gl]=Dispositivo Bluetooth Periférico
Comment[it]=Dispositivo Bluetooth periferico
Comment[ja]=周辺機器 Bluetooth デバイス
Comment[lt]=Periferinis Bluetooth įrenginys
Comment[nl]=Bluetooth randapparaat
Comment[pa]=ਪੈਰਾਫੀਰਲ ਬਲਿਊਟੁੱਥ ਜੰਤਰ
Comment[pl]=Urządzenie peryferyjne Bluetooth
Comment[pt]=Dispositivo Bluetooth Periférico
Comment[pt_BR]=Dispositivo Bluetooth Periférico
Comment[sr]=Периферијски bluetooth уређај
Comment[sr@Latn]=Periferijski bluetooth uređaj
Comment[sv]=Extern Blåtandsenhet
Comment[ta]=புற புலுடுத் கருவி
Comment[tr]=Çevresel Bluetooth Aygıtı
Comment[xx]=xxPeripheral Bluetooth Devicexx
