[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/obex-ftp-profile
Icon=nfs_unmount
Comment=OBEX File Transfer Profile
Comment[bg]=Профил за пренос на OBEX файл
Comment[ca]=Perfil de transferència de fitxers OBEX
Comment[da]=OBEX filoverførselsprofil
Comment[de]=OBEX Dateitransferprotokoll
Comment[el]=Προφίλ μεταφοράς αρχείων OBEX
Comment[es]=Perfil de transferencia de archivos OBEX
Comment[et]=OBEX failiedastuse profiil
Comment[fr]=Profil de transfert de fichiers via OBEX
Comment[gl]=Perfil de Transferéncia de Ficheiros OBEX
Comment[it]=Profilo di trasferimento file OBEX
Comment[ja]=OBEX ファイル転送プロファイル (FTP)
Comment[lt]=OBEX bylų persiuntimo profilis
Comment[nl]=OBEX bestandsoverdrachtprofiel
Comment[pa]=OBEX ਫਾਇਲ ਸੰਚਾਰ ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Profil transferu plików OBEX
Comment[pt]=Perfil de Transferência de Ficheiros OBEX
Comment[pt_BR]=Perfil de Transferência de Ficheiros OBEX
Comment[sr]=Профил за OBEX пренос фајлова
Comment[sr@Latn]=Profil za OBEX prenos fajlova
Comment[sv]=OBEX-filöverföringsprofil
Comment[ta]=OBEX கோப்பு மாற்று பக்கநோக்கு
Comment[tr]=OBEX Dosya Transfer Profili
Comment[xx]=xxOBEX File Transfer Profilexx
