[Desktop Entry]
Encoding=UTF-8
Comment=OBEX Object Push Profile
Comment[bg]=Профил OBEX Object Push
Comment[ca]=Perfil d'enviament d'objectes OBEX
Comment[da]=OBEX objekt-skubbeprofil
Comment[de]=OBEX Object-Push-Profil
Comment[el]=Προφίλ αποστολής αντικειμένων OBEX
Comment[es]=Perfil de envío de objetos OBEX
Comment[et]=OBEX objekti saatmise profiil
Comment[fr]=Profil OBEX Object Push
Comment[gl]=Perfil de Envio de Obxectos OBEX
Comment[it]=Profilo di Oggetto Push OBEX
Comment[ja]=OBEX オブジェクトプッシュ プロファイル (OPP)
Comment[lt]=OBEX persiuntimo profilis
Comment[nl]=OBEX Object Push-profiel
Comment[pa]=OBEX Object Push ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Profil OBEX Object Push
Comment[pt]=Perfil de Envio de Objectos OBEX
Comment[pt_BR]=Perfil de Envio de Objectos OBEX
Comment[sr]=Профил за OBEX гурање објеката
Comment[sr@Latn]=Profil za OBEX guranje objekata
Comment[sv]=OBEX-objektsändingsprofil
Comment[ta]=OBEX பொருள் விளக்கக்குறிப்பு
Comment[tr]=OBEX Nesne Ekleme Profili
Comment[xx]=xxOBEX Object Push Profilexx
Icon=mail_send
Type=MimeType
MimeType=bluetooth/obex-object-push-profile
Patterns=
NoDisplay=false

X-KDE-AutoEmbed=true
