[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/phone-device-class
Icon=kaddressbook
X-KDE-IsAlso=inode/directory
Comment=Phone Bluetooth Device
Comment[ar]=جهاز هاتف Bluetooth
Comment[bg]=Телефонно Bluetooth устройство
Comment[ca]=Dispositiu Bluetooth telefònic
Comment[da]=Telefon Bluetooth-enhed
Comment[de]=Bluetooth-Gerät für Telefonie
Comment[el]=Τηλεφωνική συσκευή Bluetooth
Comment[es]=Dispositivo bluetooth telefónico
Comment[et]=Telefoni Bluetoothi seade
Comment[fr]=Téléphone Bluetooth
Comment[gl]=Teléfone con Bluetooth
Comment[it]=Dispositivo Bluetooth telefonico
Comment[ja]=電話 Bluetooth デバイス
Comment[lt]=Bluetooth telefono įrenginys
Comment[nl]=Bluetooth telefoon
Comment[pa]=ਫੋਨ ਬਲਿਊਟੁੱਥ ਜੰਤਰ
Comment[pl]=Urządzenie Bluetooth - telefon
Comment[pt]=Dispositivo Bluetooth Telefone
Comment[pt_BR]=Dispositivo Bluetooth Telefone
Comment[sr]=Телефонски bluetooth уређај
Comment[sr@Latn]=Telefonski bluetooth uređaj
Comment[sv]=Blåtandsenhet i telefon
Comment[ta]=தொலைபெசி புலுடுத் கருவி
Comment[tg]=Дастгоҳи телефони Bluetooth
Comment[tr]=Bluetooth Telefon Aygıtı
Comment[xx]=xxPhone Bluetooth Devicexx
