[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/serial-port-profile
Icon=input_devices_settings
Comment=Bluetooth Serial Port Profile
Comment[bg]=Профил за сериен порт за Bluetooth
Comment[ca]=Perfil de port sèrie Bluetooth
Comment[da]=Bluetooth seriel port profil
Comment[de]=Serielles Bluetooth-Anschlussprofil
Comment[el]=Προφίλ σειριακής θύρας Bluetooth
Comment[es]=Perfil Bluetooth de puerto serie
Comment[et]=Bluetoothi jadapordi profiil
Comment[fr]=Profil de port série Bluetooth
Comment[gl]=Perfil Bluetooth de Porto Série
Comment[it]=Profilo di porta seriale Bluetooth
Comment[ja]=Bluetooth シリアルポート プロファイル (SPP)
Comment[lt]=Bluetooth nuoseklaus prievado profilis
Comment[nl]=Bluetooth seriële-poort-profiel
Comment[pa]=ਬਲਿਊਟੁੱਥ ਸੀਰੀਅਲ ਪੋਰਟ ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Profil Bluetooth portu szeregowego
Comment[pt]=Perfil Bluetooth de Portal Série
Comment[pt_BR]=Perfil Bluetooth de Portal Série
Comment[sr]=Bluetooth профил серијског порта
Comment[sr@Latn]=Bluetooth profil serijskog porta
Comment[sv]=Blåtandsprofil för serieport
Comment[ta]=புலுடுத் தொடர் துரை பக்கநோக்கு
Comment[tr]=Bluetooth Seri Port Profili
Comment[xx]=xxBluetooth Serial Port Profilexx
