[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/synchronization-profile
Icon=pda_blue
Comment=Bluetooth Synchronization Profile
Comment[ar]=مواصفات مقارنة التزامن Bluetooth
Comment[bg]=Профил за синхронизиране на Bluetooth
Comment[ca]=Perfil de sincronització Bluetooth
Comment[da]=Bluetooth synkroniseringsprofil
Comment[de]=Bluetooth Synchronisationsprofil
Comment[el]=Προφίλ συγχρονισμού Bluetooth
Comment[en_GB]=Bluetooth Synchronisation Profile
Comment[es]=Perfil de sincronización Bluetooth
Comment[et]=Bluetoothi sünkroprofiil
Comment[fr]=Profil de Synchronisation Bluetooth
Comment[gl]=Perfil de Sincronizazón Bluetooth
Comment[it]=Profilo di sincronizzazione Bluetooth
Comment[ja]=Bluetooth 同期プロファイル (SYNC)
Comment[lt]=Bluetooth sinchronizacijos profilis
Comment[nl]=Bluetooth synchronisatieprofiel
Comment[pa]=ਬਲਿਊਟੁੱਥ ਸਮਕਾਲੀ ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Profil Bluetooth synchronizacji
Comment[pt]=Perfil de Sincronização Bluetooth
Comment[pt_BR]=Perfil de Sincronização Bluetooth
Comment[sr]=Bluetooth профил синхронизације
Comment[sr@Latn]=Bluetooth profil sinhronizacije
Comment[sv]=Blåtandsprofil för synkronisering
Comment[ta]=புலுடுத் ஒத்திசை பக்கநோக்கு
Comment[tr]=Bluetooth Eşzamanlama Profili
Comment[xx]=xxBluetooth Synchronization Profilexx
