[Desktop Entry]
Encoding=UTF-8
Comment=Unknown Bluetooth Profile
Comment[ar]=مواصفات Bluetooth غير معروفة
Comment[bg]=Неизвестен профил на Bluetooth
Comment[br]=Profil Bluetooth dianav
Comment[ca]=Perfil Bluetooth desconegut
Comment[da]=Ukendt Bluetooth-profil
Comment[de]=Unkekanntes Bluetooth Profil
Comment[el]=Άγνωστο προφίλ Bluetooth
Comment[es]=Perfil Bluetooth desconocido
Comment[et]=Tundmatu Bluetoothi profiil
Comment[fr]=Profil Bluetooth inconnu
Comment[gl]=Perfil Bluetooth Descoñecido
Comment[it]=Profilo Bluetooth ignoto
Comment[ja]=未知の Bluetooth プロファイル
Comment[lt]=Nežinomas Bluetooth profilis
Comment[nl]=Onbekend Bluetooth-profiel
Comment[pa]=ਅਣਜਾਣ ਬਲਿਊਟੁੱਥ ਪ੍ਰੋਫਾਇਲ
Comment[pl]=Nieznany profil Bluetooth
Comment[pt]=Perfil Bluetooth Desconhecido
Comment[pt_BR]=Perfil Bluetooth Desconhecido
Comment[sr]=Непознати bluetooth профил
Comment[sr@Latn]=Nepoznati bluetooth profil
Comment[sv]=Okänd Blåtandsprofil
Comment[ta]=தெரியாத ப்ளூ டூத் விளக்கக்குறிப்பு
Comment[tg]=Профили Bluetooth номуайян
Comment[tr]=Bilinmeyen Bluetooth Profili
Comment[xx]=xxUnknown Bluetooth Profilexx
Icon=misc
Type=MimeType
MimeType=bluetooth/unknown-profile
Patterns=
