[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=bluetooth/unknown-device-class
Icon=kdebluetooth
Comment=Unknown Bluetooth Device Class
Comment[ar]=فئة جهاز Bluetooth غير معروف
Comment[bg]=Неизвестен клас на Bluetooth устройство
Comment[ca]=Classe de dispositiu Bluetooth desconegut
Comment[da]=Ukendt Bluetooth enhedsklasse
Comment[de]=Unbekannte Bluetooth-Geräteklasse
Comment[el]=Άγνωστη κλάση συσκευής Bluetooth
Comment[es]=Clase de dispositivo Bluetooth desconocida
Comment[et]=Tundmatu Bluetoothi seadme klass
Comment[fr]=Classe du périphérique Bluetooth inconnue
Comment[gl]=Clase de dispositivo Bluetooth descoñecida
Comment[it]=Classe di dispositivo Bluetooth ignota
Comment[ja]=未知の Bluetooth デバイスクラス
Comment[lt]=Nežinoma Bluetooth įrenginio klasė
Comment[nl]=Onbekende Bluetooth apparaatklasse
Comment[pa]=ਅਣਜਾਣ ਬਲਿਊਟੁੱਥ ਜੰਤਰ ਕਲਾਸ
Comment[pl]=Nieznana klasa urządzenia Bluetooth
Comment[pt]=Classe de dispositivo Bluetooth desconhecida
Comment[pt_BR]=Classe de dispositivo Bluetooth desconhecida
Comment[sr]=Непозната класа bluetooth уређаја
Comment[sr@Latn]=Nepoznata klasa bluetooth uređaja
Comment[sv]=Okänd klass av Blåtandsenhet
Comment[ta]=தேரியாத புலுடுத் கருவி வகுப்புகள்
Comment[tr]=Bilinmeyen Bluetooth Aygıt Sınıfı
Comment[xx]=xxUnknown Bluetooth Device Classxx
