[Desktop Entry]
Encoding=UTF-8
Name=kioobex_start
Name[es]=iniciar kioobex
Name[sv]=Starta OBEX I/O-slav
Name[xx]=xxkioobex_startxx
Exec=kioobex_start %u
Icon=kdebluetooth
Type=Application
Comment=Browse Files with OBEX FTP
Comment[bg]=Разглеждане на файлове с OBEX FTP
Comment[br]=Furchal restroù gant OBEX FTP
Comment[ca]=Explora els fitxers amb OBEX FTP
Comment[da]=Gennemse filer med OBEX FTP
Comment[de]=Dateien durchsuchen via OBEX-FTP
Comment[el]=Περιήγηση αρχείων μέσω OBEX FTP
Comment[es]=Navega por los archivos con OBEX FTP
Comment[et]=Failide sirvimine OBEX FTP vahendusel
Comment[fr]=Naviguer dans les fichiers avec OBEX FTP
Comment[gl]=Navegue en Ficheiros con OBEX FTP
Comment[it]=Sfoglia file con OBEX FTP
Comment[ja]=OBEX FTP でファイルをブラウズ
Comment[ka]=ფაილების დათვალიერება OBEX FTP-ით
Comment[lt]=Bylų naršymas su OBEX FTP
Comment[nl]=Blader naar bestanden met OBEX FTP
Comment[pl]=Przeglądaj pliki przez OBEX FTP
Comment[pt]=Navegar nos Ficheiros com o FTP por OBEX
Comment[pt_BR]=Navegar nos Ficheiros com o FTP por OBEX
Comment[sr]=Листај фајлове помоћу OBEX FTP
Comment[sr@Latn]=Листај фајлове помоћу OBEX FTP
Comment[sv]=Bläddra bland filer med OBEX FTP
Comment[ta]=OBEX FTPயில் கோப்புகளைப் பார்
Comment[tr]=OBEX FTP ile Dosyalara Gözat
Comment[xx]=xxBrowse Files with OBEX FTPxx
MimeType=bluetooth/obex-ftp-profile
