[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-gray
Patterns=*.ilbm;*.ILBM;
Icon=image
Comment=Amiga Interleaved Bitmap Format (Amiga) 
