[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/sun-raster
Icon=image
Patterns=*.rs;*.RS;
Comment=SUN raster image
Comment[fr]=Images SUN raster
