[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-cd-image
Icon=cdtrack
Patterns=*.iso;*.ISO;
X-KDE-IsAlso=application/x-iso
Comment=ISO9660 Image File
