[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-sun-raster
Icon=image
X-KDE-IsAlso=image/sun-raster
Comment=SUN raster image
Comment[fr]=Images SUN raster
