[Desktop Entry]
Encoding=UTF-8
Name=KBluetooth
Name[sv]=Kbluetooth
Name[xx]=xxKBluetoothxx
GenericName=KDE Bluetooth Daemon
GenericName[ar]=مراقب KDE Bluetooth
GenericName[bg]=Демон за Bluetooth в KDE
GenericName[br]=Diaoul KDE Bluetooth
GenericName[bs]=KDE Bluetooth daemon
GenericName[ca]=Dimoni Bluetooth de KDE
GenericName[cs]=Bluetooth démon pro KDE
GenericName[da]=KDE Bluetooth-dæmon
GenericName[de]=KDE Bluetooth-Daemon
GenericName[el]=Ο δαίμονας Bluetooth του KDE
GenericName[es]=Daemon Bluetooth de KDE
GenericName[et]=KDE Bluetoothi deemon
GenericName[fr]=Démon KDE Bluetooth
GenericName[gl]=Servizo Bluetooth de KDE
GenericName[it]=Demone Bluetooth di KDE
GenericName[ja]=KDE Bluetooth デーモン
GenericName[lt]=KDE Bluetooth tarnyba
GenericName[nl]=KDE Bluetooth-daemon
GenericName[pa]=KDE ਬਲਿਊਟੁੱਥ ਡਾਈਮੋਨ
GenericName[pl]=Demon Bluetooth dla KDE
GenericName[pt]=Serviço Bluetooth do KDE
GenericName[pt_BR]=Serviço Bluetooth do KDE
GenericName[ru]=Служба KDE Bluetooth
GenericName[sr]=Bluetooth демон за KDE
GenericName[sr@Latn]=Bluetooth demon za KDE
GenericName[sv]=KDE-Blåtandsdemon
GenericName[ta]=KDE புலுடுத் டேமொன்
GenericName[tg]=Даймони KDE Bluetooth
GenericName[tr]=KDE Bluetooth Servisi
GenericName[xx]=xxKDE Bluetooth Daemonxx
Exec=kbluetooth --dontforceshow
Icon=kdebluetooth
Type=Application
DocPath=kbluetooth/index.html
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DCOP-ServiceType=Unique
#X-KDE-Library=klipper_panelapplet
#X-KDE-UniqueApplet=true
X-KDE-autostart-condition=kbluetoothrc:General:AutoStart:true
