[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=bluetooth:/
Icon=kdebluetooth
Name=Bluetooth Browser
Name[ar]= متصفح Bluetooth
Name[bg]=Браузър за Bluetooth
Name[br]=Furcher Bluetooth
Name[ca]=Fullejador Bluetooth
Name[da]=Bluetooth-browser
Name[de]=Bluetooth-Browser
Name[el]=Περιηγητής Bluetooth
Name[es]=Navegador Bluetooth
Name[et]=Bluetoothi brauser
Name[fr]=Navigateur Bluetooth
Name[ga]=Brabhsálaí Bluetooth
Name[gl]=Navegador Bluetooth
Name[it]=Navigatore Bluetooth
Name[ja]=Bluetooth ブラウザ
Name[lt]=Bluetooth naršyklė
Name[pa]=ਬਲਿਊਟੁੱਥ ਝਲਕਾਰਾ
Name[pl]=Przeglądarka Bluetooth
Name[pt]=Navegador Bluetooth
Name[pt_BR]=Navegador Bluetooth
Name[ru]=Обозреватель Bluetooth
Name[sr]=Bluetooth прегледач
Name[sr@Latn]=Bluetooth pregledač
Name[sv]=Blåtandsbläddrare
Name[ta]=புலுடுத் உலாவி
Name[tr]=Bluetooth Tarayıcısı
Name[xx]=xxBluetooth Browserxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
