[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-anim
Icon=video
Patterns=*.iff;*.IFF;*.anim5;*.ANIM5;*.anim3;*.ANIM3;*.anim7;*.ANIM7;
Comment=IFF animation
