[Desktop Entry]
Encoding=UTF-8
Comment=Windows Media Video
Comment[fr]=Vidéo Windows Media
Hidden=false
Icon=video
MimeType=video/x-ms-wma
X-KDE-IsAlso=x-ms-wmv
Type=MimeType
