[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=SdpServiceHandler
X-KDE-FactoryName=sdpservicehandler
X-SDPSERVICEHANDLER-mimeType=bluetooth/synchronization-profile
X-SDPSERVICEHANDLER-requiredUIDs=0x0003,0x1104
Name=sdpmimemapping-synchronization
Name[en_GB]=sdpmimemapping-synchronisation
Name[et]=sdpmimemapping-synchronizatio
Name[ta]=sdpmimemapping-ஒத்திசைவு
Name[xx]=xxsdpmimemapping-synchronizationxx
