[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=SdpServiceHandler
X-KDE-FactoryName=sdpservicehandler
X-SDPSERVICEHANDLER-mimeType=bluetooth/serial-port-profile
X-SDPSERVICEHANDLER-requiredUIDs=0x0003,0x1101
Name=sdpmimemapping-serial-port
Name[ta]=sdpmimemapping-தொடர்-துரை
Name[xx]=xxsdpmimemapping-serial-portxx
