[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=SdpServiceHandler
X-KDE-FactoryName=sdpservicehandler
X-SDPSERVICEHANDLER-mimeType=bluetooth/dun-profile
X-SDPSERVICEHANDLER-requiredUIDs=0x0003,0x1103
Name=sdpmimemapping-dun
Name[ta]=sdpmimemapping-டன்
Name[xx]=xxsdpmimemapping-dunxx
