[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=SdpServiceHandler
X-KDE-FactoryName=sdpservicehandler
X-SDPSERVICEHANDLER-mimeType=bluetooth/headset-profile
X-SDPSERVICEHANDLER-requiredUIDs=0x0003,0x1108
Name=sdpmimemapping-handsfree
Name[ta]=sdpmimemapping-கைஇல்லா
Name[xx]=xxsdpmimemapping-handsfreexx
