[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=SdpServiceHandler
X-KDE-FactoryName=sdpservicehandler
X-SDPSERVICEHANDLER-mimeType=bluetooth/obex-ftp-profile
X-SDPSERVICEHANDLER-requiredUIDs=0x0003,0x1106
Name=sdpmimemapping-obex-ftp
Name[xx]=xxsdpmimemapping-obex-ftpxx
