[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=SdpServiceHandler
X-KDE-FactoryName=sdpservicehandler
X-SDPSERVICEHANDLER-mimeType=bluetooth/fax-profile
X-SDPSERVICEHANDLER-requiredUIDs=0x0003,0x1111
Name=sdpmimemapping-fax
Name[ta]=sdpmimemapping-தொலைநகல்
Name[xx]=xxsdpmimemapping-faxxx
