[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=SdpServiceHandler
X-KDE-FactoryName=sdpservicehandler
X-SDPSERVICEHANDLER-mimeType=bluetooth/obex-object-push-profile
X-SDPSERVICEHANDLER-requiredUIDs=0x0003,0x1105
Name=sdpmimemapping-obexclient
Name[ta]=sdpmimemapping-obex கிளைஞ்சன்
Name[xx]=xxsdpmimemapping-obexclientxx
